{% extends "base.html" %}

{% block container %}
<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">
    {% block content %}
        {% if "material/tags" in config.plugins %}
            {% include "partials/tags.html" %}
        {% endif %}

        <div class="unit-header">
            {% if "\x3ch1" not in page.content %}
                <h1>{{ page.meta.title }}</h1>
            {% endif %}
            
            {% include "partials/actions.html" %}
        </div>

        {{ page.content }}
        
        {% if page.meta and (
            page.meta.git_revision_date_localized or
            page.meta.revision_date
        ) %}
            {% include "partials/source-file.html" %}
        {% endif %}

        <hr />

        {% if "lesson_plans" in page.meta and page.meta.lesson_plans %}
            <h2>Lesson plans</h2>

            {% if "content_intro" in page.meta and page.meta.content_intro %}
                <p>{{ page.meta.content_intro }}</p>
            {% endif %}

            <div class="unit-lesson-plans-index">
                {% for lesson_plan in page.meta.lesson_plans %}
                
                <div class="unit-lesson-plan">
                    <a href="{{ lesson_plan.link }}" class="unit-lesson-plan-link">
                        <span class="unit-lesson-plan-number">{{ lesson_plan.number }}</span>
                        <span class="unit-lesson-plan-title">{{ lesson_plan.title }}</span>
                    </a>
                    <span class="unit-lesson-plan-description">{{ lesson_plan.description }}</span>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {% include "partials/feedback.html" %}
        {% include "partials/comments.html" %}
    {% endblock %}
  </article>
</div>
{% endblock %}
