{% if "content" in page.meta and page.meta.content %}
<h2 id="lesson-content">Lesson content</h2>

<table>
    <thead>
        <th>Learning outcome</th>
        <th>Activity</th>
        <th>Level</th>
        <th>Audience</th>
    </thead>
    {% if "before" in page.meta.content and page.meta.content.before %}
        <th colspan="5">Before the lesson</th>
        <tbody>
            {% for content_item in page.meta.content.before %}
                <tr>
                    <td>{{ content_item.subject }}</td>
                    <td>
                        {% if content_item.learning_outcome %}
                        <span class="learning-outcome" title="{{ page.meta.learning_outcomes[content_item.learning_outcome].outcome }}">
                            #{{ content_item.learning_outcome }}
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            {% for activity in content_item.activities %}
                                <li>{{ activity }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if content_item.level %}
                        {% if content_item.level == 'any' %}
                            <span class="lesson-plan-content-level-any">Any</span>
                        {% else %}
                        <span class="lesson-plan-content-level lesson-plan-content-level-{{ content_item.level }}" title="{{ config.extra.levels[content_item.level].title }}">
                            <span class="icon material-symbols-outlined">star</span>
                            <span class="icon material-symbols-outlined">star</span>
                            <span class="icon material-symbols-outlined">star</span>
                        </span>
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if content_item.audience %}
                            {% if content_item.audience == 'any' %}
                                <span class="lesson-plan-content-audience-any">Any</span>
                            {% else %}
                                {{ content_item.audience }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
    {% if "during" in page.meta.content and page.meta.content.during %}
        <th colspan="5">During the lesson</th>
        <tbody>
            {% for content_item in page.meta.content.during %}
                <tr>
                    <td>{{ content_item.subject }}</td>
                    <td>
                        {% if content_item.learning_outcome %}
                        <span class="learning-outcome" title="{{ page.meta.learning_outcomes[content_item.learning_outcome].outcome }}">
                            #{{ content_item.learning_outcome }}
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            {% for activity in content_item.activities %}
                                <li>{{ activity }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if content_item.level %}
                        {% if content_item.level == 'any' %}
                        <span class="lesson-plan-content-level-any">Any</span>
                        {% else %}
                        <span class="lesson-plan-content-level lesson-plan-content-level-{{ content_item.level }}" title="{{ config.extra.levels[content_item.level].title }}">
                            <span class="icon material-symbols-outlined">star</span>
                            <span class="icon material-symbols-outlined">star</span>
                            <span class="icon material-symbols-outlined">star</span>
                        </span>
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if content_item.audience %}
                            {% if content_item.audience == 'any' %}
                                <span class="lesson-plan-content-audience-any">Any</span>
                            {% else %}
                                {{ content_item.audience }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
    {% if "after" in page.meta.content and page.meta.content.after %}
        <th colspan="5">After the lesson</th>
        <tbody>
            {% for content_item in page.meta.content.after %}
                <tr>
                    <td>{{ content_item.subject }}</td>
                    <td>
                        {% if content_item.learning_outcome %}
                        <span class="learning-outcome" title="{{ page.meta.learning_outcomes[content_item.learning_outcome].outcome }}">
                            #{{ content_item.learning_outcome }}
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            {% for activity in content_item.activities %}
                                <li>{{ activity }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if content_item.level %}
                        {% if content_item.level == 'any' %}
                        <span class="lesson-plan-content-level-any">Any</span>
                        {% else %}
                        <span class="lesson-plan-content-level lesson-plan-content-level-{{ content_item.level }}" title="{{ config.extra.levels[content_item.level].title }}">
                            <span class="icon material-symbols-outlined">star</span>
                            <span class="icon material-symbols-outlined">star</span>
                            <span class="icon material-symbols-outlined">star</span>
                        </span>
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if content_item.audience %}
                            {% if content_item.audience == 'any' %}
                                <span class="lesson-plan-content-audience-any">Any</span>
                            {% else %}
                                {{ content_item.audience }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>

{% endif %}
