<h2 id="references">Additional resources</h2>

{% if "additionalResources" in page.meta and page.meta.additionalResources %}
<div class="reference-list">
    <ul>
    {% for additionalResource in page.meta.additionalResource %}
        <li>
            <span class="reference-title">
                {% if reference.url %}<a href="{{ additionalResources.url }}" target="_blank">{% endif %}
                {{ reference.title }}
                <span class="icon material-symbols-outlined"> arrow_outward </span>
                {% if reference.url %}</a>{% endif %}
            </span>
            <span class="reference-author">{{ additionalResources.author }}</span>
            <span class="reference-source">
                <span class="reference-details">
                    {% if additionalResources.journal %}
                        {{ additionalResources.journal }}
                    {% endif %}
                    {% if additionalResources.volume %}
                        {{ additionalResources.volume }}
                    {% endif %}
                    {% if additionalResources.number %}({{ additionalResources.number }}){% endif %}{% if additionalResources.pages %}: {{ additionalResources.pages }}{% endif %}
                    {% if additionalResources.year %}
                        ({{ additionalResources.year }})
                    {% endif %}
                </span>
            </span>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
