<h2 id="references">Additional resources</h2>

{% if "additionalResources" in page.meta and page.meta.additionalResources %}
<div class="reference-list">
    <ul>
    {% for additionalResource in page.meta.additionalResources %}
        <li>
            <span class="reference-title">
                {% if additionalResource.url %}<a href="{{ additionalResource.url }}" target="_blank">{% endif %}
                {{ additionalResource.title }}
                <span class="icon material-symbols-outlined"> arrow_outward </span>
                {% if additionalResource.url %}</a>{% endif %}
            </span>
            <span class="reference-author">{{ additionalResource.author }}</span>
            <span class="reference-source">
                <span class="reference-details">
                    {% if additionalResource.journal %}
                        {{ additionalResource.journal }}
                    {% endif %}
                    {% if additionalResource.volume %}
                        {{ additionalResource.volume }}
                    {% endif %}
                    {% if additionalResource.number %}({{ additionalResource.number }}){% endif %}{% if additionalResource.pages %}: {{ additionalResource.pages }}{% endif %}
                    {% if additionalResource.year %}
                        ({{ additionalResource.year }})
                    {% endif %}
                </span>
            </span>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
