{% if page.activities %}
<h2 id="lesson-content">Lesson content</h2>

<table>
    <thead>
    <tr>
        <th>Learning outcome</th>
        <th>Activity</th>
        <th>Time</th>
        <th>Type</th>
        <th>Level</th>
    </tr>
    </thead>

    {% include lesson-content/activities.html title="Before the lesson" activities=page.activities.before %}
    {% include lesson-content/activities.html title="During the lesson" activities=page.activities.during %}
    {% include lesson-content/activities.html title="After the lesson" activities=page.activities.after %}
</table>

{% endif %}
