{% assign path_segments = page.path | split: "/" %}
{% assign parent_folder = path_segments | slice: -3, 1 | join: "/" %}

{% assign sorted_units = site.lesson-plans | sort: "number" | where_exp: "page", "page.layout == 'unit'" %}
{% assign plans = site.lesson-plans | where_exp: "page", "page.path contains '/topics/'" %}

{% if include.type == 'lesson-plan' %}
    {% assign currentUnit = site.lesson-plans | where_exp: "page", "page.path contains parent_folder and page.layout == 'unit'" %}
    {% assign currentUnit = currentUnit[0] %}
{% endif %}
{% if include.type == 'unit' %}
    {% assign currentUnit = page %}
{% endif %}

<aside id="sidebar">
    <button class="btn text-start d-lg-none hover-primary collapsed sidebar-collapse w-100 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#side-nav" aria-controls="side-nav" aria-expanded="true" aria-label="Toggle navigation">
        {{ page.sidebar | capitalize | replace: "_", " " }} menu <i title="navbar-toggler" class="fa-solid fa-bars ms-2"></i>
    </button>
    <nav class="collapse" id="side-nav" aria-label="Side navigation">
        {% for unit in sorted_units %}

        {% assign path_segments = unit.path | split: "/" %}
        {% assign parent_folder = path_segments | slice: -2, 1 | join: "/" %}

        {% assign topics_path = parent_folder | append: "/topics/" %}

        {% assign topic_pages = site.lesson-plans | where_exp: "page", "page.path contains topics_path" %}

        <ul class="list-unstyled">
            {%- if currentUnit.url == unit.url %}
            <li class="active">
                {%- else %}
            <li>
                {%- endif %}
                <a class="btn hover-primary text-start d-block mb-1" href="{{unit.url | relative_url }}">{{ unit.title }}</a>
            <ul class="list-unstyled">
                {% for lesson_plan in topic_pages %}
                {%- if page.url == lesson_plan.url %}
                <li class="active">
                    {%- else %}
                <li>
                    {%- endif %}
                <a class="btn hover-primary text-start d-block mb-1" href="{{lesson_plan.url | relative_url }}">{{ lesson_plan.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        </ul>
        {% endfor %}
    </nav>
</aside>