$primary: #0c3450;
$shadow: 0 0 .2rem #0000001a, 0 .2rem .4rem #0003;
$shadow-light: 0 0 0.2rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

$white: #fff;
$gray-600: #73757d;
$light: #f3f1f2;
$light-x: #e3e1e4;