@import "colors";

$bg-light: #f6f6f6;
$fg-light: #f6f6f6;

html {font-size: 14px}

.navbar {
  box-shadow: $shadow;
}

header .navbar .navbar-brand {
  color: white!important;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1140px;
}

main#lesson-plan,
main#unit {
  overflow: auto;
}

.lesson-plan-header,
.unit-header,
.page-header
{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.lesson-plan-header h1,
.unit-header h1 {
  display: flex;
  align-items: center;
}

.lesson-plan-header h1 .lesson-plan-number,
.unit-header h1 .unit-number {
  color: $gray-600;
  border: 1px solid $gray-600;
  display: inline-block;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 2px;
  font-weight: 400;
}

.lesson-plan-metadata {
  padding: 10px;
  border-radius: 2px;
  background: $bg-light;

  font-size: 14px;

  nav {
    .nav-link {
      border: none;
      display: flex;
      align-items: center;

      border-bottom: 2px solid transparent;

      &.active {
        background: none;
        border-bottom-color: $primary;
      }
    }

    .nav-icon {
      display: flex;
      margin-right: 2px;

      svg {
        height: 16px;
        width: 16px;
        fill: currentColor;
      }
    }
  }

  .tab-content .tab-pane {
    padding: 10px;
  }

  .lesson-plan-metadata-blocks {
    display: flex;

    .lesson-plan-metadata-block {
      margin-right: 20px;
      padding-right: 20px;

      & :last-child {
        margin-right: 0;
        padding-right: 0;
      }

      .lesson-plan-metadata-block-title {
        font-weight: bold;
        color: $primary;
      }

      ul.lesson-plan-tags {
        margin: 0!important;
        padding: 0;
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        gap: 6px;
      }

      ul.lesson-plan-tags li.lesson-plan-tag {
        margin-left: 0;
        padding: 5px 10px;
        border-radius: 2px;
        background: #eaeaea;
        font-size: 14px;
        display: inline-block;
      }

      .lesson-plan-status {
        padding: 5px 10px;
        border-radius: 2px;
        background: #eaeaea;
        font-size: 14px;
      }

      .lesson-plan-header h1 {
        margin-bottom: 0;
      }

      .lesson-plan-status.lesson-plan-status-ready_for_review {
        background-color: #ddf3fd;
        color: #0288d1;
      }


      .lesson-plan-status.lesson-plan-status-in_progress {
        background-color: #ffeccf;
        color: #f57c00;
      }


      .lesson-plan-status.lesson-plan-status-published {
        background-color: #e2f0e3;
        color: #388e3c;
      }
    }
  }

  .learning-outcomes {
    .learning-outcome {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $light-x;
      display: flex;
      gap: 10px;
      flex-direction: row;
      align-items: flex-start;

      &:last-child {
        border-bottom: none;
      }

      .learning-outcome-number {
        background: $primary;
        padding: 3px 5px;
        border-radius: 2px;
        color: white;
        font-size: 12px;
        width: 20px;
        text-align: center;
        display: inline-block;
      }

      .learning-outcome-content {
        .learning-outcome-verbs, .learning-outcome-subject {
          display: inline;

          .learning-outcome-verb {
            cursor: help;
            display: inline-flex;
            align-items: center;

            .learning-outcome-verb-word {
              border-bottom: 1px dotted $primary;
              margin-right: 3px;
            }

            .learning-outcome-verb-stars {
              height: 10px;
              display: inline-flex;

              svg {
                height: 10px;
                width: 10px;
                fill: $primary;
              }
            }
          }
        }
      }
    }
  }

  .contributors {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    .contributor {
      display: flex;
      gap: 4px;
      background: white;
      padding: 5px 10px;
      border-radius: 2px;
      align-items: center;

      .contributor-image img {
        height: 22px;
        width: 22px;
        border-radius: 100%;
      }

      .contributor-orcid {
        display: flex;
      }
    }
  }
}

.lesson-plan-block {
  margin: 30px 0;
  border-bottom: 1px solid $light;
  padding-bottom: 30px;
}

.lesson-plan-content {
  .learning-outcome {
    background: $primary;
    padding: 3px 5px;
    border-radius: 2px;
    color: white;
    cursor: help;
    font-size: 12px;
    width: 20px;
    text-align: center;
    display: inline-block;
  }

  .lesson-plan-content-level {
    cursor: help;
    font-size: 0px;
  }

  .lesson-plan-content-level .icon svg {
    height: 16px;
    color: $primary;
  }

  .lesson-plan-content-level.lesson-plan-content-level-beginner .icon:nth-child(1) svg,
  .lesson-plan-content-level.lesson-plan-content-level-intermediate .icon:nth-child(1) svg,
  .lesson-plan-content-level.lesson-plan-content-level-intermediate .icon:nth-child(2) svg,
  .lesson-plan-content-level.lesson-plan-content-level-expert .icon:nth-child(1) svg,
  .lesson-plan-content-level.lesson-plan-content-level-expert .icon:nth-child(2) svg,
  .lesson-plan-content-level.lesson-plan-content-level-expert .icon:nth-child(3) svg
  {
    fill: $primary;
  }
}

.lesson-plan-metadata.lesson-plan-credits {
  margin-bottom: 30px;
}

.author-card {
  background: #f6f6f6;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .author-name {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }

  .author-socials {
    background: #e9e9e9;
    height: 30px;
    text-align: center;
    padding: 0 5px;
  }

  .author-image {
    text-align: center;
    padding-top: 10px;
  }

  .author-image img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }
}

.unit-navigation {
  h2 {
    margin-bottom: 15px;
  }

  .unit-card {
    padding: 15px;
    background: #e9ecef;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    min-height: 110px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      box-shadow: $shadow-light;
    }

    .unit-title {
      font-size: 18px;
      font-weight: 500;
    }

    .unit-plan-count {
      color: $gray-600;
    }
  }
}

.unit-lesson-plans {
  margin: 30px 0;
  border-top: 1px solid $light;
  padding-top: 30px;

  .unit-lesson-plans-index {
    margin-top: 30px;
  }

  .unit-lesson-plan {
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid $light;
    padding-bottom: 20px;

    .unit-lesson-plan-header {
      display: flex;
      align-items: center;
      margin-right: 10px;
      text-decoration: none;
      padding: 10px;
      background: #e9ecef;
      border-radius: 4px;
      color: $primary;
      gap: 5px;
    }

    .unit-lesson-plan-number {
      font-size: 11px;
      padding: 1px 3px;
      border-radius: 2px;
      border: 1px solid $gray-600;
      color: $gray-600;
    }

    .unit-lesson-plan-title {
      flex: 1;
    }

    .unit-lesson-plan-icon {
      svg {
        fill: $primary;
      }
    }

    .unit-lesson-plan-description {
      padding: 10px 10px 0 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .unit-lesson-plan {
    display: block;
  }
}

footer {
  background: #000000de;

  a {
    text-decoration: none;
  }

  ul a {
    color: white!important;
    text-decoration: none;

    &:hover {
      opacity: .7;
      color: white!important;
    }
  }
}

.reference-list {
  ul li {
    margin-bottom: 6px;
  }

  .reference-author,
  .reference-title,
  .reference-source {
    display: block;
  }

  .reference-author {
    font-size: 14px;
  }

  .reference-source {
    font-size: 14px;
  }

  .reference-details {
    color: var(--md-default-fg-color--light);
  }

  .reference-title .icon {
    font-size: 14px;
  }
}

.activities {
  .activity-group {
    //border: 1px solid $gray-600;
    margin-bottom: 10px;
    overflow: hidden;

    .activity-group-header {
      padding: 10px;
      background: #e9ecef;
      border-radius: 4px;
      color: $primary;
      display: flex;
      align-items: center;

      .activity-group-header-icon {
        margin-right: 5px;
        height: 24px;
        width: 24px;

        svg {
          fill: $primary;
        }
      }
    }
  }

  .activity-header {
    font-weight: bold;
  }

  .activity-item, .activity-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    margin: 5px 0;
  }

  .activity-item {
    border-bottom: 1px solid $light;

    &:last-child {
      border-bottom: none;
    }
  }

  .activity-learning-outcome {
    width: 20px;
  }
  .activity-activity {
    flex: 1;

    p {
      margin: 0;
    }
  }
  .activity-time {
    width: 60px;
  }
  .activity-type {
    width: 90px;
  }
  .activity-level {
    width: 72px;
  }
}

.help-text {
  cursor: help;
#sidebar.unit-sidebar {
  nav > ul > li.active {
    & > a {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .nav-subitems {
    //background: #f3f1f2;
    border: 1px solid #f3f1f2;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    padding: 10px;

    li {
      border-bottom: 1px solid #f3f1f2;
      padding: 3px 0;

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }

      a {
        margin-left: 0;
      }

      &.active {
        a {
          background-color: #e9ecef!important;
          color: $primary!important;
        }
      }
    }
  }
}

#home {
  header .navbar {
    margin-bottom: 0!important;
  }
}

.visual {
  background: #edf6fc;
  padding: 50px 0;
  margin-bottom: 50px;

  h1 {
    font-size: 32px;
    line-height: 1.5;
    color: $primary;
    font-weight: 400;
  }

  p {
     font-size: 15px;
     color: $gray-600;
   }
}
}