{% if page.additionalResources %}
<div class="lesson-plan-block">
    <h2 id="additional-resources">Additional resources</h2>
    <div class="reference-list">
        <ul>
            {% for additionalResource in page.additionalResources %}
            <li>
                <span class="reference-title">
                    {% if additionalResource.url %}
                        <a href="{{ additionalResource.url }}" target="_blank">
                    {% endif %}

                    {{ additionalResource.title }}

                    {% if additionalResource.url %}
                        <span class="icon material-symbols-outlined">arrow_outward</span>
                        </a>
                    {% endif %}
                </span>

                {% if additionalResource.author %}
                <span class="reference-author">{{ additionalResource.author }}</span>
                {% endif %}

                <span class="reference-source">
                    <span class="reference-details">
                        {% if additionalResource.journal %}
                            {{ additionalResource.journal }}
                        {% endif %}
                        {% if additionalResource.volume %}
                            {{ additionalResource.volume }}
                        {% endif %}
                        {% if additionalResource.number %}
                            ({{ additionalResource.number }})
                        {% endif %}
                        {% if additionalResource.pages %}
                            : {{ additionalResource.pages }}
                        {% endif %}
                        {% if additionalResource.year %}
                            ({{ additionalResource.year }})
                        {% endif %}
                    </span>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
