:root > * {
  --md-icon--done: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>');
  --md-icon--mark_chat_read: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M694-160 553-302l56-56 85 85 170-170 56 57-226 226ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v280h-80v-280H160v525l46-45h274v80H240L80-80Zm80-240v-480 480Z"/></svg>');
  --md-icon--edit_note: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-400v-80h280v80H160Zm0-160v-80h440v80H160Zm0-160v-80h440v80H160Zm360 560v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>');
}


.md-status--ready_for_review::after {
  mask-image: var(--md-icon--mark_chat_read);
  -webkit-mask-image: var(--md-icon--mark_chat_read);
  background-color: #0288d1;
}

.md-status--published::after {
  mask-image: var(--md-icon--done);
  -webkit-mask-image: var(--md-icon--done);
  background-color: #388e3c;
}

.md-status--in_progress::after {
  mask-image: var(--md-icon--edit_note);
  -webkit-mask-image: var(--md-icon--edit_note);
  background-color: #f57c00;
}

.md-nav__link {
  justify-content: space-between;
}

.md-nav__link .md-status::after {
  opacity: 0.5;
}


.lesson-plan-metadata .lesson-plan-metadata-icon,
.lesson-plan-credits  .lesson-plan-metadata-icon
{
  font-size: 12px;
}

.lesson-plan-metadata .tabbed-set, .lesson-plan-credits .tabbed-set {
  margin: 0;
}




.cc-license {
  display: flex;
}

.cc-license img {
  height: 20px;
  margin-right: 10px;
}

.cc-license span {
  flex: 1;
}

.md-nav--integrated>.md-nav__list>.md-nav__item--active:not(.md-nav__item--nested) {
  padding: 0;
}

.reference-list ul li {
  padding-left: 6px;
}

.reference-list .reference-author,
.reference-list .reference-title,
.reference-list .reference-source {
  display: block;
}

.reference-list .reference-author {
  font-size: 14px;
}

.reference-list .reference-source {
  font-size: 14px;
}

.reference-list .reference-details {
  color: var(--md-default-fg-color--light);
}

.reference-list .reference-title .icon {
  font-size: 14px;
}

.lesson-plan-content-level-any,
.lesson-plan-content-audience-any
 {
  color: var(--md-default-fg-color--light);
}

.nav-lesson-plan-number,
.nav-unit-number {
  font-size: 11px;
  padding: 1px 3px;
  border-radius: 2px;
  margin: 2px 6px 0 0;
  border: 1px solid var(--md-default-fg-color--light);
  color: var(--md-default-fg-color--light);
}

.nav-unit-number {
  padding: 1px 5px;
}

.md-nav__link:focus .nav-lesson-plan-number,
.md-nav__link:hover .nav-lesson-plan-number,
.md-nav__link:focus .nav-unit-number,
.md-nav__link:hover .nav-unit-number 
{
  border-color: var(--md-accent-fg-color);
  color: var(--md-accent-fg-color);
}

.md-nav__item .md-nav__link--active .nav-lesson-plan-number {
  background: var(--md-typeset-a-color);
  border-color: var(--md-typeset-a-color);
  color: white;
}

.md-nav__link .md-ellipsis {
  display: flex;
  align-items: flex-start;
}

